@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
}

/* Header */

.logo-link {
  width: 138px;
  z-index: 1;
  margin-right: 30px;
}

/* Навигация */

.navigation {
  outline: 2px solid blue;
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  list-style-type: none;
  outline: 2px dotted lightblue;
  margin: 0;
  padding: 0;
  width: 465px;
}


.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user {
  width: 312px;
  margin-left: auto;
}

.navigation-favorites-count {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  text-align: center;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
  color:#ffffff;
  padding: 8px 34px;
}


/* Main Page*/

/* Main welcome */

.main-container {
  flex-grow: 1;
}

.main-welcome {
  background-color:#294c66; /* Фоновая заливка для критерия https://up.htmlacademy.ru/htmlcss/40/criteries#ALLY-05 */
  background-image: url(../images/welcome-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 51px 0 82px;
}

.main-welcome:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url(../images/mask.svg);
  background-repeat: no-repeat;
  margin-top: 25px;
}

.main-welcome-img {
  display: block;
  margin: 0 auto;
}

.main-welcome-textbox {
  padding: 69px 0;
}

.main-welcome-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.main-welcome-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

/* Advantages */

/* Список */
.main-index ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-box {
  display: flex;
}

.advantages-item {
  box-sizing: border-box;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px;
}

.advantages-title:after {
  content: " ";
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-item-row > .advantages-title:after {
  border-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-column-text {
  background-color: #82B3D3;
  width: 400px;
  padding: 102px 0;
}

.advantages-column-text .advantages-title {
  color: #ffffff;
}

.advantages-column-text .advantages-description {
  color: #ffffff;
}

.advantages-item-row {
  width: 400px;
}

.advantages-item-row {
  padding: 112.5px 0 112.5px 0;
}

.advantages-square, .advantages-tourist  {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-img {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

/* Services */

.services-title-row {
  padding: 64px 0;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 81px 0;
  box-sizing: border-box;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.services-title + .services-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-name-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.services-food {
  background-color: #ffffff;
}

/* Search box */

.search-box {
  padding: 96px 0 96px 0;
}

.search-box-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.search-box-description {
  text-align: center;
  color: #333333;
  margin: 0 0 54px 0;
}

.search-box-button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  border: none;
  cursor: pointer;
  padding: 8px 50px;
}

/* Subscribe */

.subscribe {
  background-color:#294c66; /* Фоновая заливка для критерия https://up.htmlacademy.ru/htmlcss/40/criteries#ALLY-05 */
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 96px 0 104px 0;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.subscribe-description {
  text-align: center;
  color: #ffffff;
  margin: 0 0 54px 0;
}

.subscribe-form {
  text-align: center;
  margin: 0;
  padding: 0;
}

.subscribe-field {
  width: 412px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.catalog-light-field {
  background-color: #F2F2F2;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 8px 50px;
}

/* Footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 45px 0 35px 0;
}

.social-list {
  outline: 2px dotted lightblue;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  display: inline;
}

.footer-phone-call {
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.copyright-link {
  align-self: flex-end;
}


/* Catalog Page */

/* Main Catalog */

.filter-wrapper {
  background-color:#294c66; /* Фоновая заливка для критерия https://up.htmlacademy.ru/htmlcss/40/criteries#ALLY-05 */
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 35px 0 70px 0;
}

.filter-content {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  list-style-type: none;
  display: inline;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.control-input-number-placeholder {
  margin-left: -20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-button-box {
  align-self: flex-end;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  display: block;
  padding: 8px 0;
  width: 191px;
  background-color: #82B3D3;
}

.clear-button {
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 8px 0;
  width: 191px;
}

/* Блок фильтра отображения результата */

.sorting {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  padding: 50px 0 40px;
}

.sorting-right-box {
  margin-left: auto;
}

.sorting-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

/* Карточки отелей */

.cards-results {
  width: 1060px;
  margin: 0 auto;
}

.cards-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards-results-list:after {
  content: " ";
  width: 1060px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  margin-top: 20px;
  margin-bottom: 40px;
}

.cards-results-item {
  width: 340px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.cards-results-item:nth-child(3n) {
  margin-right: 0;
}


.cards-results-link {
  display: block;
  text-decoration: none;
  color:#000000;
  margin-bottom: 16px;
}

.cards-results-img {
  display: block;
  margin-bottom: 16px;
}

.cards-results-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.cards-item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-results-item-type, .cards-results-item-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 0 16px;
}

.cards-results-item-price {
  width: 140px;
  text-align: right;
}

.cards-details-link, .add-favorites-item  {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  width: 140px;
  text-align: center;
  padding: 8px 0;
}

.add-favorites-item {
  background-color: #82B3D3;
  border: none;
  cursor: pointer;
}

.focus-favorites-button {
  background-color: #7DB54F;
}

.user-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 140px;
  padding: 9px 0 8px;
}

/* Пагинация */

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1060px;
}

.pagination-item {
  display: inline-block;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}


/* Subscribe Catalog */

.subscribe.catalog {
  background-image: none;
  background-color: #ffffff;
 }

 .subscribe.catalog .subscribe-title {
  color: #000000;
 }

 .subscribe.catalog .subscribe-description {
  color: #333333;
 }
